@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode styles */
.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  color: white;
}

.dark .dark\:bg-slate-900 {
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.dark .dark\:text-white {
  color: white;
}

.dark .dark\:text-gray-300 {
  color: rgb(209 213 219);
}

.dark .dark\:border-gray-700 {
  border-color: rgb(55 65 81);
}

.dark .dark\:bg-slate-800 {
  background-color: rgb(30 41 59);
}